{% if show_pagination %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        
        {% for page_num in pages_list %}
            {% if forloop.counter0 in ellipsis_positions %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
            
            <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
