{% load paginator_tags %}
{% if page_obj %}
<div class="quiz-history-section">
    <div class="row">
        {% for result in page_obj %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header bg-primary text-white">
                    {{ result.quiz_title }}
                </div>
                <div class="card-body">
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success" 
                            style="width: {{ result.percent|stringformat:"d" }}%">
                            {{ result.percent|floatformat:0 }}%
                        </div>
                    </div>
                    <p class="mb-1">Правильных ответов: {{ result.score }}/{{ result.total_questions }}</p>
                    <div class="quiz_history-bottom_info">
                        <small class="text-muted">
                            Дата: {{ result.completed_at|date:"d.m.Y H:i" }}
                        </small>
                        <form action="{% url 'users:quiz_report' result.id %}" method="get">
                            {% comment %} {% csrf_token %} {% endcomment %}
                            <button class="btn-outline-info p-2" type="submit">Отчёт</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        {% smart_pagination page_obj %}
</div>
{% else %}
<div class="alert alert-info">Вы еще не проходили тесты</div>
{% endif %}