{% extends "layout.html" %}
{% block title %}Ваш профиль{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url|default:'https://via.placeholder.com/150' }}" alt="Profile Image">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <!-- Форма для обновления профиля -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Информация профиля</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Обновить</button>
            </div>
        </form>
    </div>
{% endblock content %}
