{% extends 'layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<section>
    <div class="text-block">
        <h1>О нас</h1>
        <p>Мы — команда профессионалов, которая занимается обучением персонала клиники "Территория Улыбки".</p>
        <div class="warning-info-about">
            <p>❗❗ Данная веб-страница будет постепенно обновляться и наполняться контентом.</p>
            <p>Если у Вас имеются какие-либо идеи или предложения по развитию проекта - прошу обращаться в телеграмм:</p>
            <a href="https://t.me/w1z4rdWP" target="_blank" id="">
                <p>@w1z4rdWP</p>
            </a>
        </div>

    </div>
</section>
{% endblock %}