{% extends 'layout.html' %}
{% load static %}
{% block title %}Домашняя страница{% endblock %}

{% block content %}
<section>
    <div class="text-block">
        <h5>Обучение персонала</h5>
        <h1>Каталог курсов</h1>
        <p>Наш веб-сайт предназначен для обучения сотрудников клиники "Территория Улыбки" внутренним правилам и повышения квалификации. Здесь вы найдете каталог курсов для приобретения, а также, в профиле, Вы всегда можете отследить свой прогресс 😊</p>
    </div>
    <img src="{% static 'imgs/clinica.jpg' %}" alt="clinica" id='clinicajpg'>
</section>
<br><br><br>
<div id="courseCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for course in courses %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <!-- Если при создании курса загрузили картинку - используется она, иначе используется default.jpg -->
            <a href="{% url 'course_detail' course.slug %}"><img src="{% if course.image %}{{ course.image.url }}{% else %}{% static 'imgs/default.jpg' %}{% endif %}" class="d-block mx-auto" alt="{{ course.title }}" id="course_carousel_img"></a>
            <div class="course-info-block">
                <a href="{% url 'course_detail' course.slug %}"><h5>{{ course.title }}</h5></a>
                <p>{{ course.description|truncatewords:50 }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="carousel-arrows">

        <button class="carousel-control-prev" type="button" data-bs-target="#courseCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#courseCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{% endblock %}
