{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
    <div class="content-section">
        <h2>{{ lesson.title }}</h2>
        <p>{{ lesson.content }}</p>
    </div>
    {% if user.is_authenticated and user.is_staff %}
        <div class="lesson-actions">
            <form method="POST" action="{% url 'delete_lesson' lesson.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" 
                        onclick="return confirm('Вы уверены, что хотите удалить этот урок?')">
                    Удалить урок
                </button>
            </form>
        </div>
    {% endif %}

{% endblock %}
