{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>Название курса</h1>
        <h2>{{ lesson.title }}</h2>
        <div class="lesson-content">
            {{ lesson.content|safe }}
        </div>
    </div>
    <div class="lesson-actions">
        {% if user.is_authenticated and user.is_staff %}
                <form method="POST" action="{% url 'delete_lesson' lesson.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger lesson-btns" 
                            onclick="return confirm('Вы уверены, что хотите удалить этот урок?')">
                        Удалить урок
                    </button>
                </form>
        {% endif %}
        <form method="POST" action="{% url 'complete_lesson' course_slug=lesson.course.slug lesson_id=lesson.id %}">
            {% csrf_token %}
                <button type="submit" class="btn btn-success lesson-btns" style="text-align: center;">
                    ✔ Завершить урок
                </button>
        </form>
        <button class="btn btn-outline-info lesson-btns" id="edit-lesson-btn" onclick="informUser()">Редактировать</button>
    </div>

    <script>
        
        function informUser() {
            alert("Обратитесь к администратору сайта, чтобы изменить содержимое урока.");
        }
    </script>

{% endblock %}
