{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}


    <div class="content-section">
        <h1>{{ lesson.course.title }}</h1>
        <h2>{{ lesson.title }}</h2>
        <div class="lesson-content ck-content">
            {{ lesson.content|safe }}

            {% if lesson.video_id %}
            <div class="video-wrapper">
                <iframe src="https://rutube.ru/video/embed/{{ lesson.video_id }}/" 
                        frameborder="0" 
                        allowfullscreen>
                </iframe>
            </div>

            {% endif %}
        </div>
    </div>
    <div class="lesson-actions">
        <form method="POST" action="{% url 'complete_lesson' course_slug=lesson.course.slug lesson_id=lesson.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">
                ✔ Завершить урок
            </button>
        </form>
        {% if user.is_authenticated and user.is_staff %}
            <!-- Кнопка удаления -->
            <form method="POST" action="{% url 'delete_lesson' lesson.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger lesson-btns" 
                        onclick="return confirm('Вы уверены, что хотите удалить этот урок?')">
                    Удалить урок
                </button>
            </form>
            <a href="{% url 'edit_lesson' lesson.id %}" class="btn btn-warning lesson-btns">
                Редактировать
            </a>
        {% else %}
            <button class="btn btn-outline-info lesson-btns" 
                    onclick="informUser()">
                Редактировать
            </button>
        {% endif %}
    </div>

    <script>
        
        function informUser() {
            alert("Обратитесь к администратору сайта, чтобы изменить содержимое урока.");
        }
    </script>

{% endblock %}
