<li class="category-block" data-id="{{ category.id }}">
    <div class="category-header">
        <span class="category-title">{{ category.order }}. {{ category.name }}</span>
        {% if not is_readonly %}
        <div class="category-actions">
            <a href="{% url 'builder:lesson_add_with_category' category.id %}"
               title="Добавить запись в категорию">
               ➕
            </a>
            <a href="{% url 'builder:category_edit' category.id %}"
                title="Редактировать категорию">
                📝
            </a>
            <a href="{% url 'builder:category_delete' category.id %}"
               title="Удалить категорию"
               onclick="return confirm('Вы уверены, что хотите удалить категорию {{ category.name }}?');">
                &times;
            </a>
        </div>
        {% endif %}
        {% if category.subcategories.all or category.lessons.all %}
            <span class="toggle-arrow" onclick="toggleSubcat(this.parentElement)">&#9654;</span>
        {% endif %}
    </div>
    
    {% if category.lessons.all %}
        <ul class="lesson-list" style='display: none;'>
            {% for lesson in category.lessons.all %}
                <li>
                    <a href="{% url 'builder:lesson_detail' lesson.id %}"
                       class="lesson-link {% if selected_lesson and lesson.id == selected_lesson.id %}active{% endif %}">
                        {{ lesson.title }}
                    </a>
                    {% if not is_readonly %}
                    <div class="lesson-actions">
                        <a href="{% url 'builder:lesson_edit' lesson.id %}" title="Редактировать урок">✍</a>
                        <form method="post" action="{% url 'builder:lesson_delete' lesson.id %}">
                            {% csrf_token %}
                            <button type="submit"
                                    onclick="return confirm('Вы уверены, что хотите удалить этот урок?');"
                                    title="Удалить урок">
                                &#10060;
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if category.subcategories.all %}
        <ul class="subcategory-list" style="display: none;">
            {% for subcat in category.subcategories.all %}
                {% include "builder/category_tree.html" with category=subcat selected_lesson=selected_lesson is_readonly=is_readonly %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
