<li class="category-block" data-id="{{ category.id }}">
    <div class="category-header">
        <input type="checkbox" class="category-select" value="{{ category.id }}" style="margin-right: 8px;">
        <span class="category-title">{{ category.order }}. {{ category.name }}</span>
        {% if category.subcategories.all or category.lessons.all %}
            <span class="toggle-arrow" onclick="toggleSubcat(this.parentElement)">&#9654;</span>
        {% endif %}
    </div>
    
    {% if category.lessons.all %}
        <ul class="lesson-list" style='display: none;'>
            {% for lesson in category.lessons.all %}
                <li>
                    <input type="checkbox" class="lesson-select" value="{{ lesson.id }}" style="margin-right: 8px;">
                    <a href="{% url 'builder:lesson_detail' lesson.id %}"
                       class="lesson-link {% if selected_lesson and lesson.id == selected_lesson.id %}active{% endif %}">
                        {{ lesson.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if category.subcategories.all %}
        <ul class="subcategory-list" style="display: none;">
            {% for subcat in category.subcategories.all %}
                {% include "builder/category_tree.html" with category=subcat selected_lesson=selected_lesson is_readonly=is_readonly %}
            {% endfor %}
        </ul>
    {% endif %}
</li>

{% if forloop.first and forloop.parentloop is None %}
<!-- Блок действий под списком категорий -->
<li style="list-style: none; margin-top: 16px;">
    <div id="category-actions-block">
        <button id="add-root-category" title="Добавить корневую категорию">+|</button>
        <button id="add-subcategory" title="Добавить подкатегорию/документ">+</button>
        <button id="edit-category" title="Изменить название">v</button>
        <button id="delete-category" title="Удалить">x</button>
    </div>
</li>
{% endif %}
