<li class="category-block">
    <div class="category-header">
        <span class="category-title">{{ category.name }}</span>
        <div class="category-actions">
            <a href="{% url 'builder:lesson_add_with_category' category.id %}"
               class="delete-category"
               title="Добавить запись в категорию"
               >
               ➕
            </a>
            <a href="{% url 'builder:category_delete' category.id %}"
               class="delete-category"
               title="Удалить категорию"
               onclick="return confirm('Вы уверены, что хотите удалить категорию {{ category.name }}?');">
                &times;
            </a>
        </div>
        {% if category.subcategories.all %}
            <span class="toggle-arrow" onclick="toggleSubcat(this.parentElement)">
                &#9654;
            </span>
        {% endif %}
    </div>
    {% if category.lessons.all %}
        <ul class="lesson-list">
            {% for lesson in category.lessons.all %}
                <li id='lesson-list__lesson' style="display: flex; align-items: center; justify-content: space-between;">
                    <a href="{% url 'builder:lesson_detail' lesson.id %}"
                    class="{% if selected_lesson and lesson.id == selected_lesson.id %}active{% endif %}">
                        {{ lesson.title }}
                    </a>
                    <div class="lesson-actions">
                        <a href="{% url 'builder:lesson_edit' lesson.id %}" title="Редактировать урок" class="edit-lesson">✍</a>
                        <form method="post"
                            action="{% url 'builder:lesson_delete' lesson.id %}"
                            style="display:inline;">
                            {% csrf_token %}
                            <button type="submit"
                                    onclick="return confirm('Вы уверены, что хотите удалить этот урок?');"
                                    title="Удалить урок">
                                &#10060;
                            </button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if category.subcategories.all %}
        <ul class="subcategory-list" style="display: none;">
            {% for subcat in category.subcategories.all %}
                {% include "builder/category_tree.html" with category=subcat selected_lesson=selected_lesson %}
            {% endfor %}
        </ul>
    {% endif %}
</li>