* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #333;
    color: whitesmoke;
    flex-direction: column;
}

/* Цвет наименования полей во crispy form */
.form-label{
    color: rgb(255, 0, 0);
}

header{
    display: flex;
    place-content: center;
}

.navbar {
    background-color: #333 !important; /* Переопределяем фон */
    width: 80vw;
}

.navbar #logopng{
    width: 200px;
}

.navbar #logolink{
    position: relative;
    font-size: 2em;
    color:#797878;
}

.navbar-nav .nav-link {
    color: whitesmoke !important; /* Цвет текста */
}

.navbar-nav .nav-link:hover {
    color: rgb(227, 92, 121) !important; /* Цвет текста при наведении */
}

main {
    flex: 1;
    place-content: center;
    padding: 20px;
    position: relative;

}

main section {
    display: flex;
    position: relative;
    width: 85%;
    height: 80vh;
    /* border: 5px solid red; */
    justify-self: center;
}


main section #clinicajpg {
    width: 500px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

main > section > .text-block {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 10px;
    max-width: 600px;
    font-size: 1.3em;
}



footer {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: flex-start; /* Элементы начинаются с левого края */
    background-color: #333; /* Цвет фона футера */
    padding: 10px 20px; /* Отступы внутри футера */
    border-top: 1px solid #444; /* Граница сверху */
    position: relative;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-between; /* Распределяем пространство между элементами */
    width: 100%; /* Ширина контейнера */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}

.footer-logo {
    width: 200px; /* Ширина логотипа */
    height: auto; /* Сохраняем пропорции */
}

.footer-text {
    font-size: 0.8em;
    font-style: italic;
    color: whitesmoke;
    margin: 0; /* Убираем отступы */
    position: absolute; /* Позиционируем текст */
    left: 50%; /* Сдвигаем текст на 50% вправо */
    transform: translateX(-50%); /* Центрируем текст */
    transform: translateY(120%);
}

.warning-info-about{
    position: relative;
    margin-top: 90px;
    left: 70%;
    padding: 15px;
    display: flex;
    /* border: 5px dotted rgb(162, 159, 159); */
    align-self: center;
    flex-direction: column;
    font-family: cursive;
    font-style: italic;
}

.warning-info-about a a:hover{
    cursor: default;
}

.course-info-block {
    place-self: center;
    text-align: center;
    height: 150px;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    background-color: #706f6f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.course-info-block h5 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.course-info-block p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif; /* Хорошо читаемый шрифт */
    color: #333;
}

.carousel-item img {
    max-width: 700px;
    height: 400px;
    object-fit: cover; /* Чтобы сохранить пропорции */
}

/* во вкладке регистрации текст с информацией о требованиях к имени пользователя */
#id_username_helptext{
    color: rgb(54, 85, 223);
}
/* во вкладке регистрации текст с информацией о требованиях к паролю */
#id_password1_helptext{
    color: rgb(54, 85, 223);
}
/* во вкладке регистрации текст с информацией о подтверждении пароля */
#id_password2_helptext{
    color: rgb(54, 85, 223);
}
/* Текст "Уже есть аккаунт" стилизуется непосредственно в templates/users/register.html */

@media (max-width: 768px) {
    
    body {
        display: flex;
        height: 100vh;
        max-width: 768px;
    }

    .navbar .navbar-toggler{
        font-size: smaller;
    }

    .navbar #logopng{
        width: 100px;
    }


    main {
        flex: 1;
        place-content: center;
        padding: 5px;
        position: relative;
    
    }


    main section #clinicajpg {
        width: 260px;
        position: absolute;
        bottom: 5%;
        right: 0;
    }
    
    main > section > .text-block {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        max-width: 300px;
        font-size: 0.9em;
    }

    footer {
        display: flex;
        align-items: center; /* Выравниваем элементы по вертикали */
        justify-content: flex-start; /* Элементы начинаются с левого края */
        background-color: #333; /* Цвет фона футера */
        padding: 5px 10px; /* Отступы внутри футера */
        border-top: 1px solid #444; /* Граница сверху */
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    
    .footer-logo {
        width: 100px; /* Ширина логотипа */
        height: auto; /* Сохраняем пропорции */
    }
    
    .footer-text {
        font-size: 0.4em;
        font-style: italic;
        color: whitesmoke;
        margin: 0; /* Убираем отступы */
        position: absolute; /* Позиционируем текст */
        left: 50%; /* Сдвигаем текст на 50% вправо */
        transform: translateX(-50%); /* Центрируем текст */
        transform: translateY(120%);
    }

    .warning-info-about{
        margin-top: 45px;
        padding: 8px;
    }

    .course-info-block {
        height: 75px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    
    .course-info-block h5 {
        font-size: 0.8em;
        margin-bottom: 5px;
    }
    
    .course-info-block p {
        font-size: 0.5em;
    }

    .carousel-item img {
        max-width: 350px;
        height: 200px;
        object-fit: cover; /* Чтобы сохранить пропорции */
    }
    
}